VITE_PINATA_JWT=
VITE_NEXT_PUBLIC_GATEWAY_URL=
VITE_GATEWAY_URL=

# Backend
PORT=3001
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/rwavenue?schema=public"
PHAROS_RPC_URL=https://devnet.dplabs-internal.com
KYC_CONTRACT_ADDRESS=0x91d4aDFfa26d0B5D2D5B46877ACd09aF0c2E29B9

# Frontend
VITE_PHAROS_RPC_URL=https://devnet.dplabs-internal.com
